{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "d3": true,
    "module": true
  },
  "parserOptions": {
      "sourceType": "module"
  },
  "rules": {
    "max-len": ["error", 100]
  }
}
