{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "require": true,
    "d3": true
  },
  "parserOptions": {
      "sourceType": "module"
  }
}
