---
layout: default
---

<div class="row">
    <div class="col-md-3">
      {% include nav.html %}
    </div>

    <article class="col-md-9 docs-content">
		{% if page.since %}
			<span class="label label-pill label-info pull-xs-right">since {{ page.since }}</span>
		{% endif %}

        <header class="docs-header">
            <h1 class="docs-title">{{ page.title }}</h1>
        </header>

        <div class="card mb-3 timeline-example">
            <div class="card-block mx-auto">
                <svg id="timeline" class="mx-auto" width="640" height="100"></svg>
            </div>
        </div>

        <script src="https://unpkg.co/zeitline@^0.0.4/dist/zeitline.bundle.js"></script>

        {{ content }}
    </article>
</div>
